{{#articles}}
<article style="width: 47%" data-id="{{_id}}">
    {{#isAdmin}}
    <button id="delete-article" class="admin-control">Delete article</button>
    <button id="edit-article" class="admin-control">Edit Article</button>
    {{/isAdmin}}
    <h2 class="article-title">
        <a style="color: {{titleColor}}" >{{title}}</a>
    </h2>
    {{#imageBase64}}
    <div class="header-image-container">
        <img class="header-image" src="data:image/png;base64,{{imageBase64}}" alt="headerImage">
    </div>
    {{/imageBase64}}
    {{#imageSrc}}
    <div class="header-image-container">
        <img class="header-image" src="{{imageSrc}}" alt="headerImage">
    </div>
    {{/imageSrc}}
    <p style="padding: 7px" class="post-content">
        {{content}}
    </p>
    <br>
    <p class="post-details-container" style="text-align: center;font-size: 13px">
        Tags: |
        <span title="tags">
            {{#tags}}
            <a href="#/tag/{{tag}}"> {{tag}} |</a>
            {{/tags}}
        </span>
    </p>
    <br>
    <h3>Leave a comment</h3>
    <input type="text" id="input-name" placeholder="Enter your name"/>
    <input type="email" id="input-email" placeholder="Enter your email"/>
    <textarea id="input-text" rows="4" placeholder="Enter your comment here"
              style="resize: none; width: 97%"></textarea>
    <div class="comments">
        <button class="add-comment">Add comment</button>
        <button class="view-comments">View comments</button>
    </div>
</article>
{{/articles}}



