<section id="create-article-section">
    <form id="article-form">
        <h1>Create an article</h1>
        <div>
            <label for="color">Chose title color</label>
            <input type="color" value="#ffffff" id="color">
            <input type="text" id="title" value="{{title}}" placeholder="Title...">
        </div>

        <div class="input-group">
            <label for="upload-picture">Upload header image</label>
            <input type="file" id="upload-picture">
            <label for="picture-src">Or add header image src (strongly recommended)</label>
            <input type="url" value="{{imageSrc}}" placeholder="Image Src" id="picture-src">
        </div>

        <div>
            <textarea id="content" rows="12" style="resize: none; width: 100%"
                      placeholder="Content...">{{content}}</textarea>
        </div>
        <div>
            <label for="tags">Tags</label>
            <input type="text" id="tags" value="{{tags}}" style="width: 40%" placeholder="Separated by spaces or comma">
        </div>
        {{#title}}
        <button id="edit-article-btn" type="button" data-id="{{_id}}">Save changes</button>
        {{/title}}
        {{^title}}
        <button id="post-article-btn"
                style="margin: 20px 60px;border-radius: 10px ;font-size: 20px;padding: 10px 40px;background-color: #31b401;border: 2px solid"
                type="button">Post
        </button>
        {{/title}}
    </form>
</section>