<form action="">
    <fieldset>
        <legend></legend>
        <label class="login-label" id="name-label" for="login-username"></label><!--
                        --><input class="login-input" type="text" id="login-username" placeholder="Username...">
        <label class="login-label" id="country-label" for="login-password"></label><!--
                        --><input class="login-input" type="password" placeholder="Password..." id="login-password">
        <button id="login-btn" type="button">Login</button>
    </fieldset>
</form>
